services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app:z
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - spiral-classifier
      - voice-classifier

  spiral-classifier:
    build: ./models/spiral-classifier
    container_name: spiral-classifier
    volumes:
      - ./models/spiral-classifier:/app
    ports:
      - "8001:8001"
    environment:
      - PYTHONUNBUFFERED=1

  voice-classifier:
    build: ./models/voice-classifier
    container_name: voice-classifier
    volumes:
      - ./models/voice-classifier:/app
    ports:
      - "8002:8002"
    environment:
      - PYTHONUNBUFFERED=1

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./scripts/init_database.sql:/docker-entrypoint-initdb.d/01_init_database.sql
      - ./scripts/populate_mock_data.sql:/docker-entrypoint-initdb.d/02_populate_mock_data.sql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

volumes:
  postgres_data:
