DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/parkinson_check"
SECRET_KEY = "AQUI VAI A CHAVE SECRETA"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
ENVIRONMENT = "development"