fastapi[standard]
pydantic
pydantic_settings
sqlalchemy
psycopg2-binary
pyjwt
pwdlib[argon2]

# Dependências para o classificador com versões fixas
opencv-python
scikit-learn==1.7.2
numpy==1.26.4
joblib
pandas