<form
  [formGroup]="patientForm"
  (ngSubmit)="onSubmit()"
  class="mt-8 space-y-8"
  novalidate
>
  <div *ngIf="apiError" #apiErrorDiv class="rounded-md bg-red-50 p-4" tabindex="-1">
    <p class="text-sm font-medium text-red-800">{{ apiError }}</p>
  </div>

  <section>
    <h3 class="text-lg font-semibold text-gray-800">Dados Pessoais</h3>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-2">
      <div class="sm:col-span-2">
        <label for="fullName" class="block text-sm font-medium text-gray-700"
          >Nome Completo*</label
        >
        <input
          id="fullName"
          name="fullName"
          formControlName="fullName"
          type="text"
          required
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
          placeholder="Digite seu nome completo"
        />
        <div
          *ngIf="
            patientForm.get('fullName')?.invalid &&
            (patientForm.get('fullName')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('fullName')?.errors?.['required']"
            >Campo obrigatório.</span
          >
          <span *ngIf="patientForm.get('fullName')?.errors?.['minlength']"
            >O nome deve ter pelo menos 3 caracteres.</span
          >
        </div>
      </div>
      <div>
        <label for="cpf" class="block text-sm font-medium text-gray-700"
          >CPF*</label
        >
        <input
          id="cpf"
          name="cpf"
          type="text"
          formControlName="cpf"
          mask="000.000.000-00"
          required
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
          placeholder="000.000.000-00"
        />
        <div
          *ngIf="
            patientForm.get('cpf')?.invalid && 
            (patientForm.get('cpf')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('cpf')?.errors?.['required']"
            >Campo obrigatório.</span
          >
          <span *ngIf="patientForm.get('cpf')?.errors?.['cpfInvalid']"
            >O CPF informado é inválido.</span
          >
        </div>
      </div>
      <div>
        <label for="birthDate" class="block text-sm font-medium text-gray-700"
          >Data de Nascimento*</label
        >
        <input
          id="birthDate"
          name="birthDate"
          formControlName="birthDate"
          type="date"
          required
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
        <div
          *ngIf="
            patientForm.get('birthDate')?.invalid &&
            (patientForm.get('birthDate')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('birthDate')?.errors?.['required']"
            >Campo obrigatório.</span
          >
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3 class="text-lg font-semibold text-gray-800">Endereço</h3>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-2">
        <label for="cep" class="block text-sm font-medium text-gray-700"
          >CEP*</label
        >
        <input
          type="text"
          id="cep"
          mask="00000-000"
          formControlName="cep"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
          placeholder="00000-000"
        />
        <div
          *ngIf="
            patientForm.get('cep')?.invalid &&
            (patientForm.get('cep')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('cep')?.errors?.['required']"
            >Campo obrigatório.</span
          >
        </div>
      </div>

      <div class="sm:col-span-4">
        <label for="street" class="block text-sm font-medium text-gray-700"
          >Rua*</label
        >
        <input
          type="text"
          id="street"
          formControlName="street"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
      </div>

      <div class="sm:col-span-2">
        <label for="number" class="block text-sm font-medium text-gray-700"
          >Número*</label
        >
        <input
          type="text"
          id="number"
          formControlName="number"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
      </div>
      <div class="sm:col-span-4">
        <label for="complement" class="block text-sm font-medium text-gray-700"
          >Complemento</label
        >
        <input
          type="text"
          id="complement"
          formControlName="complement"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
      </div>

      <div class="sm:col-span-2">
        <label
          for="neighborhood"
          class="block text-sm font-medium text-gray-700"
          >Bairro*</label
        >
        <input
          type="text"
          id="neighborhood"
          formControlName="neighborhood"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
      </div>
      <div class="sm:col-span-2">
        <label for="city" class="block text-sm font-medium text-gray-700"
          >Cidade*</label
        >
        <input
          type="text"
          id="city"
          formControlName="city"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
      </div>
      <div class="sm:col-span-2">
        <label for="state" class="block text-sm font-medium text-gray-700"
          >Estado*</label
        >
        <input
          type="text"
          id="state"
          formControlName="state"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
        />
      </div>
    </div>
  </section>

  <section>
    <h3 class="text-lg font-semibold text-gray-800">Segurança</h3>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-2">
      <div class="sm:col-span-2">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >E-mail*</label
        >
        <input
          id="email"
          name="email"
          type="email"
          formControlName="email"
          required
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
          placeholder="Digite seu e-mail"
        />
        <div
          *ngIf="
            patientForm.get('email')?.invalid &&
            (patientForm.get('email')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('email')?.errors?.['required']"
            >Campo obrigatório.</span
          >
          <span *ngIf="patientForm.get('email')?.errors?.['email']"
            >Por favor, insira um e-mail válido.</span
          >
        </div>
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Senha*</label
        >
        <input
          id="password"
          name="password"
          type="password"
          formControlName="password"
          required
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
          placeholder="Digite sua senha"
        />
        <div
          *ngIf="
            patientForm.get('password')?.invalid &&
            (patientForm.get('password')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('password')?.errors?.['required']"
            >Campo obrigatório.</span
          >
          <span *ngIf="patientForm.get('password')?.errors?.['minlength']"
            >A senha deve ter pelo menos 8 caracteres.</span
          >
          <span *ngIf="patientForm.get('password')?.errors?.['strong']"
            >A senha deve conter letras maiúsculas, minúsculas e números.</span
          >
        </div>
      </div>
      <div>
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-gray-700"
          >Confirme sua Senha*</label
        >
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
          placeholder="Digite sua senha novamente"
        />
        <div
          *ngIf="
            patientForm.get('confirmPassword')?.invalid &&
            (patientForm.get('confirmPassword')?.touched || buttonTouched)
          "
          class="mt-1 text-xs text-red-600"
        >
          <span *ngIf="patientForm.get('confirmPassword')?.errors?.['required']"
            >Campo obrigatório.</span
          >
          <span *ngIf="patientForm.get('confirmPassword')?.errors?.['mismatch']"
            >As senhas não coincidem.</span
          >
        </div>
      </div>
    </div>
  </section>

  <div
    class="flex items-center justify-end space-x-4 border-t border-gray-200 pt-6"
  >
    <a
      routerLink="/auth/login"
      class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
    >
      Já tenho conta
    </a>
    <button (mouseenter)="buttonTouched = true"
      type="submit"
      [disabled]="patientForm.invalid || isLoading"
      class="rounded-md border border-transparent bg-violet-700 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-violet-800 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
    >
      <svg
        *ngIf="isLoading"
        class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
      ></svg>
      <span *ngIf="!isLoading">Criar Conta de Paciente</span>
    </button>
  </div>
</form>
