@if (isLoading()) {
<div class="flex h-64 items-center justify-center"></div>
} @else {
<div class="space-y-8">

  <section>
    <h2 class="mb-4 text-xl font-semibold text-gray-800">
      Informações do sistema
    </h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        
      <app-stat-card
        label="Total de usuários"
        value="{{adminStats?.total_users}}"
        icon="users"
      ></app-stat-card>
      <app-stat-card
        label="Total de pacientes"
        value="{{adminStats?.total_patients}}"
        icon="users"
      ></app-stat-card>
      <app-stat-card
        label="Total de médicos"
        value="{{adminStats?.total_doctors}}"
        icon="users"
      ></app-stat-card>
      <app-stat-card
        label="Médicos pendentes de aprovação"
        value="{{adminStats?.pending_doctors}}"
        icon="users"
      ></app-stat-card>
    </div>
  </section>

  <section>
    <div class="mb-4 flex items-center justify-between">
      <h2 class="text-xl font-semibold text-gray-800">Médicos Pendentes de Aprovação</h2>
      <a
        routerLink="/dashboard/approve"
        class="text-sm font-medium text-primary hover:text-primary-dark"
        >Ver todos</a
      >
    </div>
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <ul class="divide-y divide-gray-200">
        @for (doctor of pendentDoctors(); track doctor.id) {
        <li class="block hover:bg-gray-50">
          <a
            routerLink="/dashboard/approve/{{ doctor.id }}"
            class="flex items-center p-4"
          >
            <div class="flex flex-1 items-center">
              <div
                class="mr-4 h-3 w-3 rounded-full"
              ></div>
              <div>
                <p class="font-medium text-gray-900">{{ doctor.name }}</p>
                <!-- <p class="text-sm text-gray-500">
                  Último teste: {{ patient.lastTestDate }}
                </p> -->
              </div>
            </div>
            <div class="ml-5 flex-shrink-0">
              <svg
                class="h-5 w-5 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.25 4.5l7.5 7.5-7.5 7.5"
                />
              </svg>
            </div>
          </a>
        </li>
        }
      </ul>
    </div>
  </section>
</div>
}
